<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<title>Crazy Database</title>
	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" style="background-color: whitesmoke; color: black">Crazy Database</a>
		</div>
	</div>
</nav>
<div class="container">
	<div class="page-header">
		<h1>Add a <span style="color: #ff0000">fake</span> card this CRAZY DATABASE</h1>
		<h2>See lists of <span style="color: red">fake</span> card numbers that will pass the validator<a>link to fake c</a> and add</h2>
	</div>
	
	
	<h1>Form</h1>
	<form th:action="@{/card}" th:object="${card}" method="post">
		<p>Card Number: <input type="text" th:field="*{cardNumber}" /></p>
		<p>Name on Card: <input type="text" th:field="*{cardOwnerName}" /></p>
		<p>CVV: <input type="text" th:field="*{cvv}" /></p>
		<p>Card Type: <input type="text" th:field="*{cardType}" /></p>
		<p>Bank name: <input type="text" th:field="*{bankName}" /></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>
	
</div>


<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>